.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
}

.thumbnail {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.activeImg {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .thumbnail {
    height: 60px;
    width: 60px;
  }
}
