/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffc2a0;
  height: 100%;
}
.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
}

.title {
  font-family: 'Roboto';
  font-size: 32px;
  color: #ff8542;
  margin-bottom: 30px;
}

.todo-list-container {
  list-style-type: none;
  padding: 0;
}
