/* Write your CSS here */
/* Write your CSS here */
.bgContainer {
  background-color: #ffd569;
  height: 100vh;
  padding: 40px;
  font-family: 'Roboto';
}

.content-container {
  background-color: #ffffff;
  height: 90vh;
  padding: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #000000;
  font-size: 25px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
}

.image {
  width: 250px;
  margin-bottom: 15px;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #0b69ff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 10px;
  margin: 20px;
}
